@using System.Text.Json
@using System.Text

@inject Radzen.DialogService DialogService
@inject NotificationService notificationService
@inject ISnackbar Snackbar
@inject IHttpClientFactory HttpClientFactory

<style>
	@@media only screen and (max-width: 445px) {
		div[name="action-row"] {
			flex-direction: column;
			align-items: center !important;
		}
	}
</style>

<div id="page-container" style="padding:3% 11% 0 11%;">
	<RadzenRow RowGap="0.75rem" Style="padding-left:8px">
		<RadzenDropDown @bind-SearchText=SubjectSearchText FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.Contains" AllowFiltering="true"
						Data=@myCoursesList.Select(x => x.Name).Distinct().ToList() AllowClear="true" @bind-Value=SelectSubject Style="width: 200px; max-width: 400px;"
						class="rz-shadow-5" Placeholder="Predmet" />

		<MudButton Variant="MudBlazor.Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Color="MudBlazor.Color.Success" Style="width: 215px;" @onclick="async () => await CreateDoucovanie()">Pridať doučovanie</MudButton>
	</RadzenRow>

	<RadzenDataList @ref="dataList" AllowVirtualization="false" Style="padding-top:0.65%;"
					WrapItems="true" AllowPaging="true" PagerAlwaysVisible="true" EmptyText="Zoznam je prázdny, skontrolujte zvolené filtre."
					Data="@filteredMyCoursesList" TItem="CourseDto" PageSize="5" PagerHorizontalAlign="HorizontalAlign.Left"
					ShowPagingSummary="true" PagingSummaryFormat="Strana {0} / {1}">
		<Template Context="myCourse">
			<RadzenCard Variant="Radzen.Variant.Outlined" class="rz-p-4 rz-shadow-3 rz-border-radius-3" Style="width: 100%; overflow: hidden;">
				<RadzenRow name="main-row" Gap="0" AlignItems="Radzen.AlignItems.Center">
					<RadzenRow name="course-row" Style="flex:1;">
						<RadzenRow JustifyContent="JustifyContent.Center" AlignItems="Radzen.AlignItems.Center" Style="min-width: 300px">
							<RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-mb-0">@(myCourse.Name)</RadzenText>
						</RadzenRow>
						<RadzenRow name="course-details-row" JustifyContent="JustifyContent.Left" AlignItems="Radzen.AlignItems.Center" Gap="2rem" Style="flex:1;">
							<RadzenStack Gap="1rem" Style="min-width:100px">
								<RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-mb-0">Miestnosť</RadzenText>
								<RadzenText TextStyle="TextStyle.Body2" Style="font-size:1.1rem;">@(myCourse.Room)</RadzenText>
							</RadzenStack>
							<RadzenStack Gap="1rem" Style="min-width:100px">
								<RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-mb-0">Sadzba</RadzenText>
								<RadzenText TextStyle="TextStyle.Body2" Style="font-size:1.1rem;">@($"{String.Format(new System.Globalization.CultureInfo("sk-SK"), "{0:C}", myCourse.Price)} /hod")</RadzenText>
							</RadzenStack>
							<RadzenStack Gap="1rem" Style="min-width:100px">
								<RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-mb-0">Zapísaní</RadzenText>
								<RadzenText TextStyle="TextStyle.Body2" Style="font-size:1.1rem; margin-left: 1.5rem">@(myCourse.Students.Count())</RadzenText>
							</RadzenStack>
						</RadzenRow>
					</RadzenRow>
					<RadzenRow name="action-row" AlignItems="Radzen.AlignItems.Center" Gap="1rem" Style="height:fit-content;">
						<MudButton Variant="MudBlazor.Variant.Filled" StartIcon="@Icons.Material.Filled.ListAlt" Color="MudBlazor.Color.Info" Style="width: 175px; border-radius:25px;" @onclick="async () => await ShowStudentList(myCourse)">Zoznam</MudButton>
						<MudButton Variant="MudBlazor.Variant.Filled" StartIcon="@Icons.Material.Filled.Cancel" Color="MudBlazor.Color.Error" Style="width: 175px;" @onclick="async () => await RemoveDoucovanie(myCourse)">Zrušiť</MudButton>
					</RadzenRow>
				</RadzenRow>
			</RadzenCard>
		</Template>
	</RadzenDataList>
</div>

@code {
	RadzenDataList<CourseDto> dataList;
	List<CourseDto> myCoursesList = new List<CourseDto>();
	List<CourseDto> filteredMyCoursesList = new List<CourseDto>();

	string? selectedSubject;

	public string? SelectSubject
	{
		get
		{
			return selectedSubject;
		}
		set
		{
			if (selectedSubject == value)
			{
				return;
			}

			selectedSubject = value;

			ApplyFilters();
		}
	}

	string subjectSearchText = "";

	public string SubjectSearchText
	{
		get
		{
			return subjectSearchText;
		}
		set
		{
			if (subjectSearchText != value)
			{
				subjectSearchText = value;
			}
		}
	}

	protected override async Task OnInitializedAsync()
	{
		// TODO: Fetch data from ENDPOINT

		var httpClient = HttpClientFactory.CreateClient("API");
		var currentUser = await getcurrentUser(httpClient);

	/* Netusim na co tu su ti studenti, na stranke mi ich neukazuje (alebo som retardovany a nevidim to)
		UserDto student1 = new UserDto
			{
				Id = 2,
				FirstName = "Janko",
				LastName = "Hraško",
				Email = "janko.hrasko@zoznam.sk",
				PhoneNumber = "+421 911 123 456"
			};

		UserDto student2 = new UserDto
			{
				Id = 2,
				FirstName = "Peter",
				LastName = "Marcinek",
				Email = "peter.marcinek@protonmail.com",
				PhoneNumber = "+421 911 654 321"
			};

		UserDto student3 = new UserDto
			{
				Id = 2,
				FirstName = "Alžbeta",
				LastName = "Chudá",
				Email = "alzbetka-chuda@azet.sk",
				PhoneNumber = "+421 925 622 381"
			};

		UserDto student4 = new UserDto
			{
				Id = 2,
				FirstName = "František",
				LastName = "Poničan",
				Email = "franto-pony@stuba.sk",
				PhoneNumber = "+421 903 721 455"
			};
	*/
		var plainContent = new StringContent(currentUser.Id.ToString(), Encoding.UTF8, "text/plain");
		var coursesResponse = await httpClient.PostAsync("courseTeacher", plainContent);
		List<CourseDto> allCourses = new();
		
		if (coursesResponse.IsSuccessStatusCode)
		{
			var coursesJson = await coursesResponse.Content.ReadAsStringAsync();

			allCourses = JsonSerializer.Deserialize<List<CourseDto>>(coursesJson);
		}

		myCoursesList = allCourses;

		filteredMyCoursesList = myCoursesList;
	}

	void ApplyFilters()
	{
		filteredMyCoursesList = myCoursesList.ToList();

		if (!string.IsNullOrWhiteSpace(selectedSubject))
		{
			filteredMyCoursesList = filteredMyCoursesList
				.Where(x => string.Equals(x.Name, selectedSubject, StringComparison.OrdinalIgnoreCase))
				.ToList();
		}
	}

	async Task RemoveDoucovanie(CourseDto myDoucovanie)
	{
		// TODO: Remove via ENDPOINT

		var httpClient = HttpClientFactory.CreateClient("API");
		var currentUser = await getcurrentUser(httpClient);

		// Test
		var plainContent = new StringContent(currentUser.Id.ToString() + ASOS_Frontend.Shared.Constants.divider + myDoucovanie.Id, Encoding.UTF8, "text/plain");
		var coursesResponse = await httpClient.PostAsync("courseTeacherRemove", plainContent);
		// End test



		filteredMyCoursesList.Remove(myDoucovanie);

		Snackbar.Add("Doučovanie bolo úspešne zrušené.", Severity.Success);
	}

	async Task CreateDoucovanie()
	{
		// TODO: Add via ENDPOINT (assing teacher to course)

		var options = new Radzen.DialogOptions()
			{
				Resizable = false,
				Draggable = false,
				CloseDialogOnOverlayClick = true,
				Width = "fit-content",
				Height = "fit-content",
			};

		var result = await DialogService.OpenAsync<CreateCourseModal>("Vytvorenie doučovania", null, options);

		if (result is CourseDto newCourse)
		{

			var httpClient = HttpClientFactory.CreateClient("API");
			var currentUser = await getcurrentUser(httpClient);

			newCourse.Teacher = currentUser;
			// Test
			var jsonContent = new StringContent(
				JsonSerializer.Serialize(newCourse), 
				Encoding.UTF8, 
				"text/plain");
			var coursesResponse = await httpClient.PostAsync("courseTeacherCreate", jsonContent);
			// End test
			if (coursesResponse.IsSuccessStatusCode)
			{
				myCoursesList.Add(newCourse);
			}else{
				Snackbar.Add("Unable to create Course.", Severity.Error);
			}

			await dataList.Reload();

			Snackbar.Add("Doučovanie bolo úspešne vytvorené.", Severity.Success);
		}
	}

	async Task ShowStudentList(CourseDto course)
	{
		var options = new Radzen.DialogOptions()
			{
				Resizable = false,
				Draggable = false,
				CloseDialogOnOverlayClick = true,
				Width = "fit-content",
				Height = "600px",
			};

		var parameters = new Dictionary<string, object>
		{
			{ "Course", course }
		};

		await DialogService.OpenAsync<StudentListModal>("Zoznam zapísaných študentov", parameters, options);
	}

	async Task<UserDto?> getcurrentUser(HttpClient httpClient)
	{
		var userResponse = await httpClient.GetAsync("user");

		UserDto? currentUser = new();

		if (userResponse.IsSuccessStatusCode)
		{
			var userJson = await userResponse.Content.ReadAsStringAsync();
			currentUser = JsonSerializer.Deserialize<UserDto>(userJson);
		}

		return currentUser;
	}
}
