@using System.Globalization;
@using System.Text.Json;
@using DTOs.Account;
@using System.Text
@using System.Net

@inject Radzen.DialogService DialogService
@inject NotificationService notificationService
@inject ISnackbar Snackbar
@inject IHttpClientFactory HttpClientFactory

<div id="page-container" style="padding:3% 11% 0 11%;">
	<RadzenRow RowGap="0.75rem" Style="padding-left:8px">
		<RadzenDropDown @bind-SearchText=SubjectSearchText FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.Contains" AllowFiltering="true"
						Data=@meetingsList.Select(x => x.Course.Name).Distinct().ToList() AllowClear="true" @bind-Value=SelectSubject Style="width: 200px; max-width: 400px;"
						class="rz-shadow-5" Placeholder="Predmet" />

		<RadzenDatePicker @bind-Value=@SelectDate Name="RadzenDatePickerBindValue" ShowCalendarWeek AllowClear Placeholder="Dátum" DateFormat="dd.MM.yyyy" Culture='new CultureInfo("sk-SK")' class="rz-shadow-5" Style="width: 200px;" />
		<MudButton Variant="MudBlazor.Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Color="MudBlazor.Color.Success" Style="width: 200px;" @onclick="async () => await CreateTermin()">Pridať termín</MudButton>
		<RadzenRow id="sort-buttons" Gap="10px" Style="margin-left:auto; margin-right:10px;">
			@if (!showHistory)
			{
				<MudButton Variant="MudBlazor.Variant.Filled" StartIcon="@Icons.Material.Filled.History" Color="MudBlazor.Color.Inherit" Style="width: 200px; background-color:white;" @onclick="ShowHistory">Zobraziť históriu</MudButton>
			}
			else
			{
				<MudButton Variant="MudBlazor.Variant.Filled" StartIcon="@Icons.Material.Filled.HistoryToggleOff" Color="MudBlazor.Color.Inherit" Style="width: 200px; background-color:white;" @onclick="ShowUpcoming">Skryť históriu</MudButton>
			}
		</RadzenRow>
	</RadzenRow>

	<RadzenDataList @ref="dataList" AllowVirtualization="false" Style="padding-top:0.65%;"
					WrapItems="true" AllowPaging="true" PagerAlwaysVisible="true" EmptyText="Zoznam je prázdny, skontrolujte zvolené filtre."
					Data="@filteredMeetingsList" TItem="MeetingDto" PageSize="5" PagerHorizontalAlign="HorizontalAlign.Left"
					ShowPagingSummary="true" PagingSummaryFormat="Strana {0} / {1}">
		<Template Context="meeting">
			<RadzenCard name="meeting-card" Variant="Radzen.Variant.Outlined" class="rz-p-4 rz-shadow-3 rz-border-radius-3" Style="width: 100%; overflow: hidden; background-color:white;">
				<RadzenRow name="main-row" Gap="0" AlignItems="Radzen.AlignItems.Center">
					<RadzenRow name="meeting-row" Style="flex:1;">
						<RadzenRow JustifyContent="JustifyContent.Center" AlignItems="Radzen.AlignItems.Center" Style="min-width: 300px">
							<RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-mb-0">@(meeting.Course.Name)</RadzenText>
						</RadzenRow>
						<RadzenRow name="meeting-details-row" JustifyContent="JustifyContent.Left" AlignItems="Radzen.AlignItems.Center" Gap="1rem" Style="flex:1;">
							<RadzenRow>
								<RadzenStack Style="min-width:115px">
									<RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-mb-0">Dátum</RadzenText>
									<RadzenText TextStyle="TextStyle.Body2" Style="font-size:1.1rem;">@($"{meeting.Beginning.ToString("d", new CultureInfo("sk-SK"))}")</RadzenText>
								</RadzenStack>
								<RadzenStack Style="min-width:115px">
									<RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-mb-0">Čas</RadzenText>
									<RadzenText TextStyle="TextStyle.Body2" Style="font-size:1.1rem;">@($"{meeting.Beginning.ToString("t", new CultureInfo("sk-SK"))}")</RadzenText>
								</RadzenStack>
							</RadzenRow>
							<RadzenRow>
								<RadzenStack Style="min-width:115px">
									<RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-mb-0">Trvanie</RadzenText>
									<RadzenText TextStyle="TextStyle.Body2" Style="font-size:1.1rem;">@($"{meeting.Duration} minút")</RadzenText>
								</RadzenStack>
								<RadzenStack Style="min-width:115px">
									<RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-mb-0">Miestnosť</RadzenText>
									<RadzenText TextStyle="TextStyle.Body2" Style="font-size:1.1rem;">@(meeting.Course.Room)</RadzenText>
								</RadzenStack>
							</RadzenRow>
							<RadzenRow>
								<RadzenStack Style="min-width:175px">
									<RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-mb-0">Zapísaný</RadzenText>
									@if (meeting.Student != null)
									{
										<RadzenLink href="javascript:void(0)" Style="font-size:1rem;" @onclick="async () => await OpenStudentModal(meeting.Student)">@($"{meeting.Student.FirstName} {meeting.Student.LastName}")</RadzenLink>
									}
									else
									{
										<RadzenText TextStyle="TextStyle.Body2" Style="font-size:1.1rem;">-</RadzenText>
									}
								</RadzenStack>
							</RadzenRow>
						</RadzenRow>
					</RadzenRow>
					<RadzenRow name="action-row" AlignItems="Radzen.AlignItems.Center" Gap="1rem" Style="height:fit-content;">
						@if (!showHistory)
						{
							<MudButton Variant="MudBlazor.Variant.Filled" StartIcon="@Icons.Material.Filled.Cancel" Color="MudBlazor.Color.Error" Style="width: 175px; border-radius:25px;" @onclick="async () => await RemoveTermin(meeting)">Zrušiť termín</MudButton>
						}
					</RadzenRow>
				</RadzenRow>
			</RadzenCard>
		</Template>
	</RadzenDataList>
</div>

@code {
	@* TODO: Delete the student logic it is unnecessary .... 
	Teacher can plan appointments to which students will join later by themselves *@
	RadzenDataList<MeetingDto> dataList;
	List<MeetingDto> meetingsList = new List<MeetingDto>();
	List<MeetingDto> filteredMeetingsList = new List<MeetingDto>();

	bool showHistory = false;
	DateTime? selectedDate;
	string? selectedSubject;

	public DateTime? SelectDate
	{
		get
		{
			return selectedDate;
		}
		set
		{
			if (selectedDate == value)
			{
				return;
			}

			selectedDate = value;

			ApplyFilters();
		}
	}

	public string? SelectSubject
	{
		get
		{
			return selectedSubject;
		}
		set
		{
			if (selectedSubject == value)
			{
				return;
			}

			selectedSubject = value;

			ApplyFilters();
		}
	}

	string subjectSearchText = "";

	public string SubjectSearchText
	{
		get
		{
			return subjectSearchText;
		}
		set
		{
			if (subjectSearchText != value)
			{
				subjectSearchText = value;
			}
		}
	}

	protected override async Task OnInitializedAsync()
	{
		var httpClient = HttpClientFactory.CreateClient("API");
		var meetingsResponse = await httpClient.GetAsync("teacherMeetings");
		List<MeetingDto> allMeetings = new();
        var errorMessage = await meetingsResponse.Content.ReadAsStringAsync();
		if (meetingsResponse.IsSuccessStatusCode)
		{
			var meetingsJson = await meetingsResponse.Content.ReadAsStringAsync();

			allMeetings = JsonSerializer.Deserialize<List<MeetingDto>>(meetingsJson);
		}
		else if (errorMessage == "User does not exist.")
        {
            Snackbar.Add("Učiteľ neexistuje.", Severity.Error);
        }
        else if (errorMessage == "Only teacher can use this endpoint: /teacherMeetings.")
        {
            Snackbar.Add("Iba učiteľ môže pristupovať na tento endpoint: /teacherMeetings.", Severity.Error);
        }
        else
        {
            Snackbar.Add("Nastala chyba pri zobrazení vašich termínov. Skúste to znova neskôr.", Severity.Error);
        }

		meetingsList = allMeetings;
		

		filteredMeetingsList = meetingsList
			.Where(x => x.Beginning.Date > DateTime.Now.Date)
			.ToList();

	}

	void ApplyFilters()
	{
		filteredMeetingsList = meetingsList.ToList();

		if (!string.IsNullOrWhiteSpace(selectedSubject))
		{
			filteredMeetingsList = filteredMeetingsList
				.Where(x => string.Equals(x.Course.Name, selectedSubject, StringComparison.OrdinalIgnoreCase))
				.ToList();
		}

		if (selectedDate != null)
		{
			filteredMeetingsList = filteredMeetingsList
				.Where(x => x.Beginning.Date == selectedDate.Value.Date)
				.ToList();
		}

		if (string.IsNullOrWhiteSpace(selectedSubject) && selectedDate == null)
		{
			filteredMeetingsList = meetingsList;
		}

		if (showHistory)
		{
			filteredMeetingsList = filteredMeetingsList
				.Where(x => x.Beginning.Date < DateTime.Now.Date)
				.ToList();
		}
		else
		{
			filteredMeetingsList = filteredMeetingsList
				.Where(x => x.Beginning.Date > DateTime.Now.Date)
				.ToList();
		}
	}

	async Task RemoveTermin(MeetingDto meeting)
	{
		var httpClient = HttpClientFactory.CreateClient("API");
		var response = await httpClient.DeleteAsync($"removeMeeting/{meeting.Id}");
        var errorMessage = await response.Content.ReadAsStringAsync();
		if (response.IsSuccessStatusCode)
		{
		    meetingsList.Remove(meeting);
			filteredMeetingsList.Remove(meeting);
			Snackbar.Add("Termín bol úspešne zrušený.", Severity.Success);
			await dataList.Reload();
		}
		else if (errorMessage == "Teacher does not exist.")
        {
            Snackbar.Add("Učiteľ neexistuje.", Severity.Error);
        }
        else if (errorMessage == "Meeting does not exist.")
        {
            Snackbar.Add("Termín neexistuje.", Severity.Error);
        }
        else if (errorMessage == "Only teacher can delete meeting.")
        {
            Snackbar.Add("Iba učiteľ môže odstrániť termín.", Severity.Error);
        }
        else
        {
            Snackbar.Add("Nastala chyba pri zrušení termínu. Skúste to znova neskôr.", Severity.Error);
        }
	}

	async Task CreateTermin()
	{
		var options = new Radzen.DialogOptions()
			{
				Resizable = false,
				Draggable = false,
				CloseDialogOnOverlayClick = true,
				Width = "fit-content",
				Height = "fit-content",
			};

		var result = await DialogService.OpenAsync<CreateMeetingModal>("Vytvorenie termínu", null, options);

		if (result is MeetingDto newMeeting)
		{
			var httpClient = HttpClientFactory.CreateClient("API");
			var jsonContent = new StringContent(JsonSerializer.Serialize(newMeeting), Encoding.UTF8, "application/json");
			var response = await httpClient.PostAsync("createMeeting", jsonContent);
            var errorMessage = await response.Content.ReadAsStringAsync();
			if (response.IsSuccessStatusCode)
			{
				var jsonResponse = await response.Content.ReadAsStringAsync();
				var meetingResponse = JsonSerializer.Deserialize<MeetingDto>(jsonResponse);
				meetingsList.Add(meetingResponse);
				ApplyFilters(); // Apply filters to update the filteredMeetingsList
				await dataList.Reload();
				Snackbar.Add("Termín bol úspešne vytvorený.", Severity.Success);
				//StateHasChanged();
			}
			else if (errorMessage == "Meeting is null.")
            {
                Snackbar.Add("Nesprávne vyplnené dáta pre vytvorenie termínu.", Severity.Error);
            }
            else if (errorMessage == "Teacher does not exist.")
            {
                Snackbar.Add("Učiteľ neexistuje.", Severity.Error);
            }
            else if (errorMessage == "Only teacher can create meeting.")
            {
                Snackbar.Add("Iba učiteľ môže vytvárať termín.", Severity.Error);
            }
            else if (errorMessage == "Cannot schedule meeting in the past.")
                {
                    Snackbar.Add("Nemôžete vytvoriť termín so začiatkom v minulosti.", Severity.Error);
                }
            else if (errorMessage == "Teacher has another meeting at this time.")
                {
                    Snackbar.Add("V tomto čase už máte naplánovaný termín", Severity.Error);
                }
            else
            {
                Snackbar.Add("Nastala chyba pri vytvorení termínu. Skúste to znova neskôr.", Severity.Error);
            }
		}
	}

	async Task OpenStudentModal(UserDto student)
	{
		var options = new Radzen.DialogOptions()
			{
				Resizable = false,
				Draggable = false,
				CloseDialogOnOverlayClick = true,
				Width = "fit-content",
				Height = "fit-content",
			};

		var parameters = new Dictionary<string, object>
		{
			{ "Student", student }
		};

		await DialogService.OpenAsync<StudentInfoModal>("Informácie o študentovi", parameters, options);
	}

	void ShowHistory()
	{
		showHistory = true;

		ApplyFilters();
	}

	void ShowUpcoming()
	{
		showHistory = false;

		ApplyFilters();
	}

	async Task<UserDto?> getcurrentUser(HttpClient httpClient)
	{
		var userResponse = await httpClient.GetAsync("user");

		UserDto? currentUser = new();

		if (userResponse.IsSuccessStatusCode)
		{
			var userJson = await userResponse.Content.ReadAsStringAsync();
			currentUser = JsonSerializer.Deserialize<UserDto>(userJson);
		}

		return currentUser;
	}

}
