@using System.Globalization;
@using System.Text.Json;
@using DTOs.Account;
@using System.Text
@using System.Net

@inject Radzen.DialogService DialogService
@inject NotificationService notificationService
@inject ISnackbar Snackbar
@inject IHttpClientFactory HttpClientFactory

<div id="page-container" style="padding:3% 11% 0 11%;">
	<RadzenRow RowGap="0.75rem" Style="padding-left:8px">
		<RadzenDropDown @bind-SearchText=SubjectSearchText FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.Contains" AllowFiltering="true"
						Data=@meetingsList.Select(x => x.Course.Name).Distinct().ToList() AllowClear="true" @bind-Value=SelectSubject Style="width: 200px; max-width: 400px;"
						class="rz-shadow-5" Placeholder="Predmet" />

		<RadzenDatePicker @bind-Value=@SelectDate Name="RadzenDatePickerBindValue" ShowCalendarWeek AllowClear Placeholder="Dátum" DateFormat="dd.MM.yyyy" Culture='new CultureInfo("sk-SK")' class="rz-shadow-5" />
		<RadzenRow id="sort-buttons" Gap="10px" Style="margin-left:auto; margin-right:10px;">
			@if (!showHistory)
			{
				<MudButton Variant="MudBlazor.Variant.Filled" StartIcon="@Icons.Material.Filled.History" Color="MudBlazor.Color.Inherit" Style="width: 200px; background-color:white;" @onclick="ShowHistory">Zobraziť históriu</MudButton>
			}
			else
			{
				<MudButton Variant="MudBlazor.Variant.Filled" StartIcon="@Icons.Material.Filled.HistoryToggleOff" Color="MudBlazor.Color.Inherit" Style="width: 200px; background-color:white;" @onclick="ShowUpcoming">Skryť históriu</MudButton>
			}
		</RadzenRow>
	</RadzenRow>

	<RadzenDataList @ref="dataList" AllowVirtualization="false" Style="padding-top:0.65%;"
					WrapItems="true" AllowPaging="true" PagerAlwaysVisible="true" EmptyText="Zoznam je prázdny, skontrolujte zvolené filtre."
					Data="@filteredMeetingsList" TItem="MeetingDto" PageSize="5" PagerHorizontalAlign="HorizontalAlign.Left"
					ShowPagingSummary="true" PagingSummaryFormat="Strana {0} / {1}">
		<Template Context="meeting">
			<RadzenCard name="meeting-card" Variant="Radzen.Variant.Outlined" class="rz-p-4 rz-shadow-3 rz-border-radius-3" Style="width: 100%; overflow: hidden; background-color:white;">
				<RadzenRow name="main-row" Gap="0" AlignItems="Radzen.AlignItems.Center">
					<RadzenRow name="meeting-row" Style="flex:1;">
						<RadzenRow JustifyContent="JustifyContent.Center" AlignItems="Radzen.AlignItems.Center" Style="min-width: 300px">
							<RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-mb-0">@(meeting.Course.Name)</RadzenText>
						</RadzenRow>
						<RadzenRow name="meeting-details-row" JustifyContent="JustifyContent.Left" AlignItems="Radzen.AlignItems.Center" Gap="1rem" Style="flex:1;">
							<RadzenRow>
								<RadzenStack Style="min-width:115px">
									<RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-mb-0">Dátum</RadzenText>
									<RadzenText TextStyle="TextStyle.Body2" Style="font-size:1.1rem;">@($"{meeting.Beginning.ToString("d", new CultureInfo("sk-SK"))}")</RadzenText>
								</RadzenStack>
								<RadzenStack Style="min-width:115px">
									<RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-mb-0">Čas</RadzenText>
									<RadzenText TextStyle="TextStyle.Body2" Style="font-size:1.1rem;">@($"{meeting.Beginning.ToString("t", new CultureInfo("sk-SK"))}")</RadzenText>
								</RadzenStack>
							</RadzenRow>
							<RadzenRow>
								<RadzenStack Style="min-width:115px">
									<RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-mb-0">Trvanie</RadzenText>
									<RadzenText TextStyle="TextStyle.Body2" Style="font-size:1.1rem;">@($"{meeting.Duration} minút")</RadzenText>
								</RadzenStack>
								<RadzenStack Style="min-width:115px">
									<RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-mb-0">Miestnosť</RadzenText>
									<RadzenText TextStyle="TextStyle.Body2" Style="font-size:1.1rem;">@(meeting.Course.Room)</RadzenText>
								</RadzenStack>
							</RadzenRow>
							<RadzenRow>
								<RadzenStack Style="min-width:115px">
									<RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-mb-0">Lektor</RadzenText>
									<RadzenLink href="javascript:void(0)" Style="font-size:1rem;" @onclick="async () => await OpenTeacherModal(meeting.Teacher)">@($"{meeting.Teacher.Degree} {meeting.Teacher.FirstName} {meeting.Teacher.LastName}")</RadzenLink>
								</RadzenStack>
							</RadzenRow>
						</RadzenRow>
					</RadzenRow>
					<RadzenRow name="action-row" AlignItems="Radzen.AlignItems.Center" Gap="1rem" Style="height:fit-content;">
						@if (!showHistory)
						{
							<MudButton Variant="MudBlazor.Variant.Filled" StartIcon="@Icons.Material.Filled.Cancel" Color="MudBlazor.Color.Error" Style="width: 175px; border-radius:25px;" @onclick="async () => await RemoveMeeting(meeting)">Zrušiť termín</MudButton>
						}
					</RadzenRow>
				</RadzenRow>
			</RadzenCard>
		</Template>
	</RadzenDataList>
</div>

@code {
	RadzenDataList<MeetingDto> dataList;
	List<MeetingDto> meetingsList = new List<MeetingDto>();
	List<MeetingDto> filteredMeetingsList = new List<MeetingDto>();

	bool showHistory = false;
	DateTime? selectedDate;
	string? selectedSubject;

	public DateTime? SelectDate
	{
		get
		{
			return selectedDate;
		}
		set
		{
			if (selectedDate == value)
			{
				return;
			}

			selectedDate = value;

			ApplyFilters();
		}
	}

	public string? SelectSubject
	{
		get
		{
			return selectedSubject;
		}
		set
		{
			if (selectedSubject == value)
			{
				return;
			}

			selectedSubject = value;

			ApplyFilters();
		}
	}

	string subjectSearchText = "";

	public string SubjectSearchText
	{
		get
		{
			return subjectSearchText;
		}
		set
		{
			if (subjectSearchText != value)
			{
				subjectSearchText = value;
			}
		}
	}

	protected override async Task OnInitializedAsync()
	{
		// TODO: Fetch data from ENDPOINT

		var httpClient = HttpClientFactory.CreateClient("API");
		var currentUser = await getcurrentUser(httpClient);

		// var student = currentUser;

		var plainContent = new StringContent(currentUser.Id.ToString(), Encoding.UTF8, "text/plain");
		var meetingsResponse = await httpClient.PostAsync("meetingsStudent", plainContent);
		List<MeetingDto> allMeetings = new();

		if (meetingsResponse.IsSuccessStatusCode)
		{
			var meetingsJson = await meetingsResponse.Content.ReadAsStringAsync();

			allMeetings = JsonSerializer.Deserialize<List<MeetingDto>>(meetingsJson);
		}

		meetingsList = allMeetings;

		// UserDto teacher = new UserDto
		// 	{
		// 		Degree = "Ing.",
		// 		FirstName = "Peter",
		// 		LastName = "Dobrák",
		// 		Email = "peter.dobrak@gmail.com",
		// 		PhoneNumber = "+421 911 123 456"
		// 	};

		// UserDto teacher2 = new UserDto
		// 	{
		// 		Degree = "prof.",
		// 		FirstName = "Juraj",
		// 		LastName = "Petriska",
		// 		Email = "juraj.petriska@gmail.com",
		// 		PhoneNumber = "+421 911 796 158"
		// 	};

		// UserDto teacher3 = new UserDto
		// 	{
		// 		Degree = "PhDr.",
		// 		FirstName = "Slavomíra",
		// 		LastName = "Lučanská",
		// 		Email = "slavomira.lucanska@gmail.com",
		// 		PhoneNumber = "+421 908 455 179"
		// 	};

		// CourseDto math = new CourseDto
		// 	{
		// 		Id = 1,
		// 		Name = "Matematika",
		// 		Price = 10,
		// 		Room = "AB-30",
		// 		Teacher = teacher,
		// 		Students = new List<UserDto>
		// 	{
		// 		student
		// 	}
		// 	};

		// CourseDto physics = new CourseDto
		// 	{
		// 		Id = 2,
		// 		Name = "Fyzika",
		// 		Price = 10,
		// 		Room = "BC-30",
		// 		Teacher = teacher2,
		// 		Students = new List<UserDto>
		// 	{
		// 		student
		// 	}
		// 	};

		// CourseDto informatics = new CourseDto
		// 	{
		// 		Id = 3,
		// 		Name = "Informatika",
		// 		Price = 10,
		// 		Room = "CD-30",
		// 		Teacher = teacher3,
		// 		Students = new List<UserDto>
		// 	{
		// 		student
		// 	}
		// 	};

		// meetingsList = new List<MeetingDto>
		// {
		// 	new MeetingDto
		// 	{
		// 		Beginning = new DateTime(2024, 3, 10, 12, 30, 0),
		// 		Duration = 60,
		// 		Course = math,
		// 		Teacher = teacher,
		// 		Student = student
		// 	},
		// 	new MeetingDto
		// 	{
		// 		Beginning = new DateTime(2024, 12, 12, 12, 5, 0),
		// 		Duration = 60,
		// 		Course = math,
		// 		Teacher = teacher,
		// 		Student = student
		// 	},
		// 	new MeetingDto
		// 	{
		// 		Beginning = new DateTime(2024, 1, 10, 12, 15, 0),
		// 		Duration = 75,
		// 		Course = physics,
		// 		Teacher = teacher2,
		// 		Student = student
		// 	},
		// 	new MeetingDto
		// 	{
		// 		Beginning = new DateTime(2024, 11, 18, 8, 0, 0),
		// 		Duration = 75,
		// 		Course = physics,
		// 		Teacher = teacher2,
		// 		Student = student
		// 	},
		// 	new MeetingDto
		// 	{
		// 		Beginning = new DateTime(2024, 10, 18, 15, 0, 0),
		// 		Duration = 120,
		// 		Course = informatics,
		// 		Teacher = teacher3,
		// 		Student = null
		// 	}
		// };

		filteredMeetingsList = meetingsList
			.Where(x => x.Beginning.Date > DateTime.Now.Date)
			.ToList(); ;
	}

	void ApplyFilters()
	{
		filteredMeetingsList = meetingsList.ToList();

		if (!string.IsNullOrWhiteSpace(selectedSubject))
		{
			filteredMeetingsList = filteredMeetingsList
				.Where(x => string.Equals(x.Course.Name, selectedSubject, StringComparison.OrdinalIgnoreCase))
				.ToList();
		}

		if (selectedDate != null)
		{
			filteredMeetingsList = filteredMeetingsList
				.Where(x => x.Beginning.Date == selectedDate.Value.Date)
				.ToList();
		}

		if (string.IsNullOrWhiteSpace(selectedSubject) && selectedDate == null)
		{
			filteredMeetingsList = meetingsList;
		}

		if (showHistory)
		{
			filteredMeetingsList = filteredMeetingsList
				.Where(x => x.Beginning.Date < DateTime.Now.Date)
				.ToList();
		}
		else
		{
			filteredMeetingsList = filteredMeetingsList
				.Where(x => x.Beginning.Date > DateTime.Now.Date)
				.ToList();
		}
	}

	async Task RemoveMeeting(MeetingDto meeting)
	{
		var httpClient = HttpClientFactory.CreateClient("API");

		var plainContent = new StringContent(meeting.Id.ToString(), Encoding.UTF8, "text/plain");
		var response = await httpClient.PutAsync($"removeStudentMeeting", plainContent);

		if (response.IsSuccessStatusCode)
		{
			filteredMeetingsList.Remove(meeting);
			Snackbar.Add("Termín bol úspešne zrušený.", Severity.Success);
			await dataList.Reload();
		}
		else if (response.StatusCode == HttpStatusCode.NotFound)
		{
			Snackbar.Add("Termín neexistuje.", Severity.Error);
		}
		else if (response.StatusCode == HttpStatusCode.Conflict)
		{
			Snackbar.Add("Meeting cannot be removed due to data integrity violation.", Severity.Error);
		}
		else
		{
			Snackbar.Add("Chyba na strane servera", Severity.Error);
		}
	}


	async Task OpenTeacherModal(UserDto teacher)
	{
		var options = new Radzen.DialogOptions()
			{
				Resizable = false,
				Draggable = false,
				CloseDialogOnOverlayClick = true,
				Width = "fit-content",
				Height = "fit-content",
			};

		var parameters = new Dictionary<string, object>
		{
			{ "Teacher", teacher }
		};

		await DialogService.OpenAsync<TeacherInfoModal>("Informácie o lektorovi", parameters, options);
	}

	void ShowHistory()
	{
		showHistory = true;

		ApplyFilters();
	}

	void ShowUpcoming()
	{
		showHistory = false;

		ApplyFilters();
	}

	async Task<UserDto?> getcurrentUser(HttpClient httpClient)
	{
		var userResponse = await httpClient.GetAsync("user");

		UserDto? currentUser = new();

		if (userResponse.IsSuccessStatusCode)
		{
			var userJson = await userResponse.Content.ReadAsStringAsync();
			currentUser = JsonSerializer.Deserialize<UserDto>(userJson);
		}

		return currentUser;
	}
}
