@page "/courses"
@using System.Text.Json
@using System.Text
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

@inject Radzen.DialogService DialogService
@inject ISnackbar Snackbar
@inject IHttpClientFactory HttpClientFactory

<PageTitle>Doučovania</PageTitle>

<style>
	.rz-datalist-content .rz-card {
		background: white;
		min-height: 100px;
	}

	.rz-badge {
		text-transform: none;
		padding: 5px;
	}

	.rz-pager-summary {
		padding: 5px !important;
		background-color: white;
		border-radius: 5px;
		color: #424242;
		font-weight: 500;
		box-shadow: var(--rz-shadow-5);
	}

	.rz-pager-element {
		box-shadow: var(--rz-shadow-5);
	}

	.rz-pager-element:not(.rz-state-disabled):not(.rz-state-active) {
		background-color: white;
	}

	.rz-datalist-content .mud-button {
		border-radius: 30px;
	}

	@@media only screen and (max-width: 1475px) {
		div[name="person-row"] {
			flex-direction: column;
		}

		div[name="person-details-row"] {
			justify-content: center !important;
		}
	}

	@@media only screen and (max-width: 1105px) {
		div[name="main-row"] {
			flex-direction: column;
		}
	}

	@@media only screen and (max-width: 990px) {
		#sort-buttons {
			margin: 0px 8px 0px 0px !important;
		}
	}

	@@media only screen and (max-width: 605px) {
		div[name="person-details-row"] {
			flex-direction: column;
			align-items: start !important;
		}
	}

	@@media only screen and (max-width: 360px) {
		div[name="action-row"] {
			flex-direction: column;
			align-items: center !important;
		}

		div[name="person-row"] {
			width: 100%;
		}

		div[name="person-row"] > div:nth-child(1) {
			min-width: unset !important;
		}
	}
</style>

<div id="page-container" style="padding:3% 11% 0 11%;">
	<RadzenRow RowGap="0.75rem" Style="padding-left:8px;">
		<RadzenDropDown @bind-SearchText=TeacherSearchText FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.Contains" AllowFiltering="true"
						Data=@coursesList.Select(x => x.Teacher.FirstName + " " + x.Teacher.LastName).Distinct().ToList() AllowClear="true" @bind-Value=SelectTeacher Style="width: 200px; max-width: 400px;"
						class="rz-shadow-5" Placeholder="Lektor" />

		<RadzenDropDown @bind-SearchText=SubjectSearchText FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.Contains" AllowFiltering="true"
						Data=@coursesList.Select(x => x.Name).Distinct().ToList() AllowClear="true" @bind-Value=SelectSubject Style="width: 200px; max-width: 400px;"
						class="rz-shadow-5" Placeholder="Predmet" />

		<RadzenRow id="sort-buttons" Gap="10px" Style="margin-left:auto; margin-right:10px;">
			<MudButton Variant="MudBlazor.Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowCircleDown" Color="MudBlazor.Color.Inherit" Style="width: 150px; background-color:white;" @onclick="() => ChangeSortOrder(SortDirection.Ascending)">Najlacnejšie</MudButton>
			<MudButton Variant="MudBlazor.Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowCircleUp" Color="MudBlazor.Color.Inherit" Style="width: 150px; background-color:white;" @onclick="() => ChangeSortOrder(SortDirection.Descending)">Najdrahšie</MudButton>
		</RadzenRow>
	</RadzenRow>

	<RadzenDataList AllowVirtualization="false" Style="padding-top:0.65%;"
					WrapItems="true" AllowPaging="true" PagerAlwaysVisible="true" EmptyText="Zoznam je prázdny, skontrolujte zvolené filtre."
					Data="@filteredCoursesList" TItem="CourseDto" PageSize="5" PagerHorizontalAlign="HorizontalAlign.Left"
					ShowPagingSummary="true" PagingSummaryFormat="Strana {0} / {1}">
		<Template Context="course">
			<RadzenCard Variant="Radzen.Variant.Outlined" class="rz-p-4 rz-shadow-3 rz-border-radius-3" Style="width: 100%; overflow: hidden;">
				<RadzenRow name="main-row" Gap="0" AlignItems="Radzen.AlignItems.Center">
					<RadzenRow name="person-row" Style="flex:1;">
						<RadzenRow JustifyContent="JustifyContent.Center" AlignItems="Radzen.AlignItems.Center" Style="min-width: 300px">
							<RadzenLink href="javascript:void(0)" Style="font-size:1.2rem;" @onclick="async () => await OpenTeacherModal(course)">@($"{course.Teacher.Degree} {course.Teacher.FirstName} {course.Teacher.LastName}")</RadzenLink>
						</RadzenRow>
						<RadzenRow name="person-details-row" JustifyContent="JustifyContent.Left" AlignItems="Radzen.AlignItems.Center" Gap="1rem" Style="flex:1;">
							<RadzenStack Style="min-width:125px">
								<RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-mb-0">Predmet</RadzenText>
								<RadzenText TextStyle="TextStyle.Body2" Style="font-size:1.1rem;">@(course.Name)</RadzenText>
							</RadzenStack>
							<RadzenStack Style="min-width:225px">
								<RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-mb-0">Email</RadzenText>
								<RadzenText TextStyle="TextStyle.Body2" Style="font-size:1.1rem;">@(course.Teacher.Email)</RadzenText>
							</RadzenStack>
							<RadzenStack Style="min-width:125px">
								<RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-mb-0">Tel.číslo</RadzenText>
								<RadzenText TextStyle="TextStyle.Body2" Style="font-size:1.1rem;">@(course.Teacher.PhoneNumber)</RadzenText>
							</RadzenStack>
						</RadzenRow>
					</RadzenRow>
					<RadzenRow name="action-row" AlignItems="Radzen.AlignItems.Center" Gap="1rem" Style="height:fit-content;">
						<RadzenBadge BadgeStyle="BadgeStyle.Secondary" style="font-size:1.2rem; height:fit-content;" Shade="Shade.Lighter" class="price-badge" Text=@($"{String.Format(new System.Globalization.CultureInfo("sk-SK"), "{0:C}", course.Price)} /hod") />
						<AuthorizeView Policy="StudentOnly">
                            <Authorized>
                                <MudButton Variant="MudBlazor.Variant.Filled" StartIcon="@Icons.Material.Filled.AddCircle" Color="MudBlazor.Color.Info" Style="width: 145px; min-width:145px;" @onclick="async () => await JoinCourse(course)">Zapísať sa</MudButton>
                            </Authorized>
                        </AuthorizeView>
					</RadzenRow>
				</RadzenRow>
			</RadzenCard>
		</Template>
	</RadzenDataList>
</div>

@code {
	List<CourseDto> coursesList = new List<CourseDto>();
	List<CourseDto> filteredCoursesList = new List<CourseDto>();

	SortDirection? priceSortDirection = SortDirection.Ascending;

	string? selectedTeacher;
	string? selectedSubject;

	public string? SelectTeacher
	{
		get
		{
			return selectedTeacher;
		}
		set
		{
			if (selectedTeacher == value)
			{
				return;
			}

			selectedTeacher = value;

			ApplyFilters();
		}
	}

	public string? SelectSubject
	{
		get
		{
			return selectedSubject;
		}
		set
		{
			if (selectedSubject == value)
			{
				return;
			}

			selectedSubject = value;

			ApplyFilters();
		}
	}

	string teacherSearchText = "";
	string subjectSearchText = "";

	public string TeacherSearchText
	{
		get
		{
			return teacherSearchText;
		}
		set
		{
			if (teacherSearchText != value)
			{
				teacherSearchText = value;
			}
		}
	}

	public string SubjectSearchText
	{
		get
		{
			return subjectSearchText;
		}
		set
		{
			if (subjectSearchText != value)
			{
				subjectSearchText = value;
			}
		}
	}

	protected override async Task OnInitializedAsync()
	{
		var httpClient = HttpClientFactory.CreateClient("API");

		var courseResponse = await httpClient.GetAsync("course");

		List<CourseDto>? allCourses = new();

		if (courseResponse.IsSuccessStatusCode)
		{
			var userJson = await courseResponse.Content.ReadAsStringAsync();

			allCourses = JsonSerializer.Deserialize<List<CourseDto>>(userJson);
		};
		
		coursesList = allCourses;

		filteredCoursesList = coursesList;
	}

	void ChangeSortOrder(SortDirection direction)
	{

		priceSortDirection = direction;

		ApplyFilters();
	}

	void ApplyFilters()
	{
		filteredCoursesList = coursesList.ToList();

		if (!string.IsNullOrWhiteSpace(selectedTeacher))
		{
			var nameParts = selectedTeacher.Split(' ');

			if (nameParts.Length == 2)
			{
				string name = nameParts[0];
				string lastName = nameParts[1];

				filteredCoursesList = filteredCoursesList
					.Where(x => string.Equals(x.Teacher.FirstName, name, StringComparison.OrdinalIgnoreCase) &&
								string.Equals(x.Teacher.LastName, lastName, StringComparison.OrdinalIgnoreCase))
					.ToList();
			}
		}

		if (!string.IsNullOrWhiteSpace(selectedSubject))
		{
			filteredCoursesList = filteredCoursesList
				.Where(x => string.Equals(x.Name, selectedSubject, StringComparison.OrdinalIgnoreCase))
				.ToList();
		}

		if (string.IsNullOrWhiteSpace(selectedTeacher) && string.IsNullOrWhiteSpace(selectedSubject))
		{
			filteredCoursesList = coursesList;
		}

		if (priceSortDirection == SortDirection.Ascending)
		{
			filteredCoursesList = filteredCoursesList.OrderBy(x => x.Price).ToList();
		}
		else if (priceSortDirection == SortDirection.Descending)
		{
			filteredCoursesList = filteredCoursesList.OrderByDescending(x => x.Price).ToList();
		}
	}

	async Task JoinCourse(CourseDto course)
	{
        var httpClient = HttpClientFactory.CreateClient("API");

        var response = await httpClient.PatchAsync($"assignToCourse/{course.Id}", new StringContent(string.Empty));
        var errorMessage = await response.Content.ReadAsStringAsync();
        if (response.IsSuccessStatusCode)
        {
            Snackbar.Add("Zápis prebehol úspešne!", Severity.Success);
            return;
        }
        else if(errorMessage == "Course does not exist."){
            Snackbar.Add("Doučovanie neexistuje.", Severity.Error);
        }
        else if(errorMessage == "User does not exist."){
            Snackbar.Add("Študent neexistuje.", Severity.Error);
        }
        else if(errorMessage == "User has already been assigned to this course."){
            Snackbar.Add("Už ste na dané doučovanie zapísaný.", Severity.Error);
        }
        else if(errorMessage == "Only student can assign to a course."){
            Snackbar.Add("Iba študent sa môže zapísať na doučovanie.", Severity.Error);
        }
        else
        {
            Snackbar.Add("Nastala chyba pri zápise na doučovanie. Skúste to znova neskôr.", Severity.Error);
        }
	}

	async Task OpenTeacherModal(CourseDto course)
	{
		var options = new Radzen.DialogOptions()
			{
				Resizable = false,
				Draggable = false,
				CloseDialogOnOverlayClick = true,
				Width = "fit-content",
				Height = "600px",
			};

		var parameters = new Dictionary<string, object>
		{
			{ "Teacher", course.Teacher }
		};

		await DialogService.OpenAsync<TeacherInfoModal>("Informácie o lektorovi", parameters, options);
	}
	
	async Task<UserDto?> getcurrentUser(HttpClient httpClient)
	{
		var userResponse = httpClient.GetAsync("user");

		UserDto? currentUser = new();

		if (userResponse.Result.IsSuccessStatusCode)
		{
			var userJson = userResponse.Result.Content.ReadAsStringAsync();

			currentUser = JsonSerializer.Deserialize<UserDto>(userJson.Result);
		}

		return currentUser;
	}
}
