@page "/requests"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Policy = "AdminOnly")]

@inject Radzen.DialogService DialogService
@inject ISnackbar Snackbar

<PageTitle>Doučovania</PageTitle>

<style>
	.rz-datalist-content .rz-card {
		background: white;
		min-height: 100px;
		padding-top: 12px !important;
	}

	.rz-badge {
		text-transform: none;
		padding: 5px;
	}

	.rz-pager-summary {
		padding: 5px !important;
		background-color: white;
		border-radius: 5px;
		color: #424242;
		font-weight: 500;
		box-shadow: var(--rz-shadow-5);
	}

	.rz-pager-element {
		box-shadow: var(--rz-shadow-5);
	}

	.rz-pager-element:not(.rz-state-disabled):not(.rz-state-active) {
		background-color: white;
	}

	.rz-datalist-content .mud-button {
		border-radius: 30px;
	}

</style>

<div style="padding: 3% 11% 0 11%; overflow:auto;">
	<RadzenRow Style="padding-left:8px">
		<RadzenDropDown @bind-SearchText=TeacherSearchText FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.Contains" AllowFiltering="true"
						Data=@requestsList.Select(x => x.User.FirstName + " " + x.User.LastName).Distinct().ToList() AllowClear="true" @bind-Value=SelectTeacher Style="width: 200px; max-width: 400px;"
						class="rz-shadow-5" Placeholder="Používateľ" />
	</RadzenRow>

	<RadzenDataList AllowVirtualization="false" Style="padding-top:0.65%;"
					WrapItems="true" AllowPaging="true" PagerAlwaysVisible="true" EmptyText="Zoznam je prázdny, skontrolujte zvolené filtre."
					Data="@filteredRequestsList" TItem="RequestDto" PageSize="5" PagerHorizontalAlign="HorizontalAlign.Left"
					ShowPagingSummary="true" PagingSummaryFormat="Strana {0} / {1} ({2} žiadostí)">
		<Template Context="request">
			<RadzenCard Variant="Radzen.Variant.Outlined" class="rz-p-0 rz-shadow-3 rz-border-radius-3" Style="width: 100%; overflow: hidden;">
				<RadzenRow Gap="0">
					<RadzenColumn Size="12" SizeLG="3" class="rz-p-4 product-title" Style="display:flex; align-items:center; justify-content:center;">
						<RadzenLink href="javascript:void(0)" Style="font-size:1.2rem;" @onclick="async () => await OpenUserModal(request.User)">@($"{request.User.Degree} {request.User.FirstName} {request.User.LastName}")</RadzenLink>
					</RadzenColumn>
					<RadzenColumn Size="12" SizeLG="6" class="rz-p-4">
						<RadzenRow Gap="0">
							<RadzenColumn Size="12" SizeMD="6" SizeLG="2">
								<RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-mb-0">ID</RadzenText>
								<RadzenText TextStyle="TextStyle.Body2" Style="font-size:1.1rem;">@(request.Id)</RadzenText>
							</RadzenColumn>
							<RadzenColumn Size="12" SizeMD="6" SizeLG="4">
								<RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-mb-0">Dátum a čas</RadzenText>
								<RadzenText TextStyle="TextStyle.Body2" Style="font-size:1.1rem;">@(request.RequestedAt)</RadzenText>
							</RadzenColumn>
							<RadzenColumn Size="12" SizeMD="6" SizeLG="5">
								<RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-mb-0">Email</RadzenText>
								<RadzenText TextStyle="TextStyle.Body2" Style="font-size:1.1rem;">@(request.User.Email)</RadzenText>
							</RadzenColumn>				
						</RadzenRow>
					</RadzenColumn>
					<RadzenColumn Size="12" SizeLG="3" class="rz-p-4" Style="display:flex; align-items:center; justify-content:space-between;">
						<MudButton Variant="MudBlazor.Variant.Filled" StartIcon="@Icons.Material.Filled.CheckCircle" Color="MudBlazor.Color.Success" Style="width: 145px;" @onclick="async () => await AcceptRequest(request)">Schváliť</MudButton>
						<MudButton Variant="MudBlazor.Variant.Filled" StartIcon="@Icons.Material.Filled.Cancel" Color="MudBlazor.Color.Error" Style="width: 145px;" @onclick="async () => await DenyRequest(request)">Zamietnuť</MudButton>
					</RadzenColumn>
				</RadzenRow>
			</RadzenCard>
		</Template>
	</RadzenDataList>
</div>

@code {
	List<RequestDto> requestsList = new List<RequestDto>();
	List<RequestDto> filteredRequestsList = new List<RequestDto>();

	string? selectedTeacher;

	public string? SelectTeacher
	{
		get
		{
			return selectedTeacher;
		}
		set
		{
			if (selectedTeacher == value)
			{
				return;
			}

			selectedTeacher = value;

			ApplyFilters();
		}
	}

	string teacherSearchText = "";

	public string TeacherSearchText
	{
		get
		{
			return teacherSearchText;
		}
		set
		{
			if (teacherSearchText != value)
			{
				teacherSearchText = value;
			}
		}
	}

	protected override async Task OnInitializedAsync()
	{
		// TODO: Fetch data from ENDPOINT

		var user1 = new UserDto
		{
			Degree = "Ing.",
			FirstName = "Peter",
			LastName = "Dobrák",
			Email = "peter.dobrak@gmail.com",
			PhoneNumber = "+421 911 123 456"
		};

		var user2 = new UserDto
		{
			Degree = "doc.",
			FirstName = "Lacikam",
			LastName = "Dobrák",
			Email = "lacikam.dobrak@gmail.com",
			PhoneNumber = "+421 911 333 456"
		};

		var user3 = new UserDto
		{
			Degree = "prof.",
			FirstName = "Ján",
			LastName = "Novák",
			Email = "jan.novak@gmail.com",
			PhoneNumber = "+421 911 444 456"
		};

		var user4 = new UserDto
		{
			Degree = "Bc.",
			FirstName = "Michal",
			LastName = "Horváth",
			Email = "michal.horvath@gmail.com",
			PhoneNumber = "+421 911 555 456"
		};

		var user5 = new UserDto
		{
			Degree = "Phdr.",
			FirstName = "Katarína",
			LastName = "Kováčová",
			Email = "katarina.kovacova@gmail.com",
			PhoneNumber = "+421 911 666 456"
		};

		var user6 = new UserDto
		{
			Degree = string.Empty,
			FirstName = "Lukáš",
			LastName = "Polák",
			Email = "lukas.polak@gmail.com",
			PhoneNumber = "+421 911 777 456"
		};

		requestsList = new List<RequestDto>
		{
			new RequestDto
			{
				Id = 25664,
				RequestedAt = new DateTime(2024,12,24,8,32,0),
				User = user1
			},
			new RequestDto
			{
				Id = 25665,
				RequestedAt = new DateTime(2024,12,25,9,04,0),
				User = user2
			},
			new RequestDto
			{
				Id = 25666,
				RequestedAt = new DateTime(2024,12,26,9,44,0),
				User = user3
			},
			new RequestDto
			{
				Id = 25667,
				RequestedAt = new DateTime(2024,12,27,11,17,0),
				User = user4
			},
			new RequestDto
			{
				Id = 25668,
				RequestedAt = new DateTime(2024,12,28,12,59,0),
				User = user5
			},
			new RequestDto
			{
				Id = 25669,
				RequestedAt = new DateTime(2024,12,29,13,46,0),
				User = user6
			}
		};

		filteredRequestsList = requestsList;
	}

	void ApplyFilters()
	{
		filteredRequestsList = requestsList.ToList();

		if (!string.IsNullOrWhiteSpace(selectedTeacher))
		{
			var nameParts = selectedTeacher.Split(' ');

			if (nameParts.Length == 2)
			{
				string name = nameParts[0];
				string lastName = nameParts[1];

				filteredRequestsList = filteredRequestsList
					.Where(x => string.Equals(x.User.FirstName, name, StringComparison.OrdinalIgnoreCase) &&
								string.Equals(x.User.LastName, lastName, StringComparison.OrdinalIgnoreCase))
					.ToList();
			}
		}

		if (string.IsNullOrWhiteSpace(selectedTeacher))
		{
			filteredRequestsList = requestsList;
		}
	}

	async Task OpenUserModal(UserDto user)
	{
		var options = new Radzen.DialogOptions()
			{
				Resizable = false,
				Draggable = false,
				CloseDialogOnOverlayClick = true,
				Width = "fit-content",
				Height = "600px",
			};

		var parameters = new Dictionary<string, object>
		{
			{ "Teacher", user }
		};

		await DialogService.OpenAsync<TeacherInfoModal>("Informácie o uchádzačovi", parameters, options);
	}

	async Task AcceptRequest(RequestDto request)
	{
		//TODO: Elevate privilege to be a teacher

		filteredRequestsList.Remove(request);

		Snackbar.Add("Žiadosť bola schválená.", Severity.Success);
	}

	async Task DenyRequest(RequestDto request)
	{
		//TODO: Deny request to be a teacher

		filteredRequestsList.Remove(request);

		Snackbar.Add("Žiadosť bola zamietnutá.", Severity.Success);
	}
}
